<!--
File name: footer.ejs
Student name: Sunehildeep Singh
Student ID: 301210976
Date: 18th Sept, 2022
-->
        </div>
    </div>
    <div id="footer" class="container" style="background-color: #4B3F56">
            © Copyright Sunehildeep Singh 2022.
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
    </body>
</html>