<!--
File name: index.ejs
Student name: Sunehildeep Singh
Student ID: 301210976
Date: 18th Sept, 2022
-->

<!-- Include header and navbar. -->
<%- include('partials/header'); %>
<%- include('partials/navbar'); %>
<!-- Intro section. -->
<div class="container" id="#">
  <div class="intro-text">
    Welcome to my portfolio.
    <br> Please feel free to look around and check my work.
  </div>
</div>
<!-- Include footer. -->
<%- include('partials/footer'); %>
