<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="main-container">
    <div class="main-content">
      <div class="sub-container">
        <%- include('partials/navbar'); %>
        <div class="container" id="#">
          <div class="intro-text">
            Welcome to my portfolio.
            <br> Please feel free to look around and check my work.
          </div>
        </div>
      </div>
      <%- include('partials/footer'); %>
    </div>
  </div>
  </body>
  <script src="/javascripts/script.js"></script>
</html>
